// Colors
$white: #ffffff;
$primary: #1e90ffff;
$secondary: #ff6b81ff;
$success: #3bd95fff;
$warning: #ffc300ff;
$typography: #000000;

// Grid breakpoints (define the minimum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
